/* You can add global styles to this file, and also import other style files */

/* Styles for printing */
@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: #fff !important;
  }
  .ant-card {
    border: none !important;
    box-shadow: none !important;
  }
}